apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: jellyfin
  name: jellyfin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
      volumes:
        - name: config-volume
          persistentVolumeClaim: 
            claimName: pvc-config
        - name: cache-volume
          persistentVolumeClaim: 
            claimName: pvc-cache
        - name: movies-volume
          persistentVolumeClaim:
            claimName: pvc-movies
        - name: pe-volume
          persistentVolumeClaim:
            claimName: pvc-pe-audio
      containers:
        - image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          name: jellyfin
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            allowPrivilegeEscalation: false
          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu | quote }}
              memory: {{ .Values.resources.requests.memory | quote }}
          volumeMounts:
            - name: config-volume
              mountPath: /config
            - name: cache-volume
              mountPath: /cache
            - name: movies-volume
              mountPath: /media/movies
            - name: pe-volume
              mountPath: /media/pe-audio
              readOnly: true
  strategy:
    type: Recreate
