apiVersion: v1
kind: Service
metadata:
  labels:
    app: jellyfin
  name: jellyfin
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    protocol: TCP
    targetPort: {{ .Values.service.port }}
    {{ if eq .Values.service.type "NodePort" }}
    nodePort: {{ .Values.service.nodePort }}
    {{ end }}
  selector:
    app: jellyfin
status:
  loadBalancer: {}
